$topnav-background: #fff;
//$fontfamily: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$fontfamily: 'Muli', sans-serif !important;

//$topnav-background: linear-gradient(to right, #000428 ,#004e92);
:host {
    display: block;
}
.login-page {
    font-family: $fontfamily;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background;
    text-align: center;
    padding: 3em;
}

.login-container{
    padding: 5% 12% 3% 12%;
    background-color: #FFF;
    margin-top: 14%;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.text-space {
    margin-top: 10px;
    margin-bottom: 10px;
}
    .col-lg-4{
        padding :0;
    }
    .input-lg {
        height: 42px;
        padding: 8px 16px;
        font-size: 14px;
        line-height: 1.3333333;
        // border-radius: 0;
    }

    // .input-underline {
    //     background: 0 0;
    //     border: none;
    //     box-shadow: none;
    //     border-bottom: 2px solid rgba(0,0,0,.5);
    //     color: #000;
    //     border-radius: 0;
    // }
    // .input-underline:focus {
    //     border-bottom: 2px solid #000;
    //     box-shadow: none;
    // }

    .rounded-btn{
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: rgba(0,0,0,0.8);
        background: $topnav-background;
        border: 2px solid rgba(0,0,0,0.8);
        font-size: 18px;
        // line-height: 40px;
        padding: 12px 25px;
    }
    .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
        color: rgb(0, 0, 0);
        border: 2px solid rgb(0, 0, 0);
        // outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: rgba(255,255,255,0.7);
        }
    }

    .form-group {
        padding: 4px 0;
        // input::-webkit-input-placeholder {
        // color: rgba(255,255,255,0.6) !important;
        // }

        // input:-moz-placeholder { /* Firefox 18- */
        // color: rgba(255,255,255,0.6) !important;
        // }

        // input::-moz-placeholder {  /* Firefox 19+ */
        // color: rgba(255,255,255,0.6) !important;
        // }

        // input:-ms-input-placeholder {
        // color: rgba(255,255,255,0.6) !important;
        // }
    }
    .form-content {
        padding: 20px 0 10px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 2px solid #FFF;
    }

